<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="1" value="1" />
	</appSettings>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="Data Source=TYLER-PC;Initial Catalog=mycalendar;User ID=sa;Password=wanysysbb" />
		<add name="mycalendarConnectionString" connectionString="Data Source=TYLER-PC;Initial Catalog=mycalendar;User ID=sa;Password=wanysysbb" providerName="System.Data.SqlClient" />
		<add name="mycalendarEntities" connectionString="metadata=res://*/calendar_entiry.csdl|res://*/calendar_entiry.ssdl|res://*/calendar_entiry.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TYLER-PC;Initial Catalog=mycalendar;User ID=sa;Password=wanysysbb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="calendar_entity" connectionString="metadata=res://*/calendar_entiry.csdl|res://*/calendar_entiry.ssdl|res://*/calendar_entiry.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TYLER-PC;Initial Catalog=mycalendar;User ID=sa;Password=wanysysbb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
    
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
	</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
		</authentication>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="true">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
			</providers>
		</roleManager>
    <customErrors mode="Off" />
	</system.web>
	<system.webServer>
	
   
      <httpErrors errorMode="Detailed" />
      <asp scriptErrorSentToBrowser="true" />
        <tracing>
            <traceFailedRequests>
                <add path="*.aspx">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500.21" verbosity="Error" />
                </add>
            </traceFailedRequests>
        </tracing>
   
	</system.webServer>
</configuration>
